:root {
	--tile: 8vmin;
}

.tile {
	margin: 0;
	padding: 0;
	width: var(--tile);
	height: var(--tile);
}

.unknown {
	background-color: red;
}

.floor {
	background-color: gray;
}

.wall {
	background-color: black;
}

.bin {
	background-color: gold;
}

.picker {
	background-color: cyan;
}

.shipping {
	background-color: blue;
}

#warehouse-div {
	margin: 0;
	padding: 0;
	width: calc(10*var(--tile) + 9*1vmin);
	height: calc(10*var(--tile) + 9*1vmin);
	display: grid;
	grid-template-rows: repeat(10, var(--tile));
	grid-template-columns: repeat(10, var(--tile));
	grid-row-gap: 1vmin;
	grid-column-gap: 1vmin;
}
