:root {
	--tile: 8vmin;
	--half-tile: 4vmin;
	--stock-bin-edge: 0.75vmin;
	--color1: #11270b; /* Smoky Black */
	--color2: #71b340; /* Palm Leaf */
	--color3: #669d31; /* Green (RYB) */
	--color4: #598b2c; /* Maximum Green */
	--color5: #3c5a14; /* Dark Moss Green */
	--color-back: var(--color3);
	--color-table-head: var(--color5);
	--color-table-odd: var(--color4);
	--color-table-even: var(--color2);
	--color-button: var(--color5);
	--color-button-hover: var(--color4);
	--color-orders: var(--color5);
	--font-sizing: calc(var(--tile)/2);
	--color-borders: white; 
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: var(--font-sizing);
	font-weight: normal;
	font-family: Verdana;
}

.tile {
	border: 0;
	width: var(--tile);
	height: var(--tile);
	font-size: 3vmin;
}

.unknown {
	background-color: red;
}

.floor {
	background-color: gray;
	background-image: url(./graphics/floor.svg);
}

.wall {
	background-color: maroon;
	background-image: url(./graphics/brick.svg);
}

.picker-up {
	background-image: url(./graphics/picker-up.svg), url(./graphics/floor.svg);
	background-blend-mode: normal;
}

.picker-up-extend {
	background-image: url(./graphics/picker-up-extend.svg), url(./graphics/floor.svg);
	background-blend-mode: normal;
}

.picker-right {
	background-image: url(./graphics/picker-right.svg), url(./graphics/floor.svg);
	background-blend-mode: normal;
}

.picker-right-extend {
	background-image: url(./graphics/picker-right-extend.svg), url(./graphics/floor.svg);
	background-blend-mode: normal;
}

.picker-down {
	background-image: url(./graphics/picker-down.svg), url(./graphics/floor.svg);
	background-blend-mode: normal;
}

.picker-down-extend {
	background-image: url(./graphics/picker-down-extend.svg), url(./graphics/floor.svg);
	background-blend-mode: normal;
}

.picker-left {
	background-image: url(./graphics/picker-left.svg), url(./graphics/floor.svg);
	background-blend-mode: normal;
}

.picker-left-extend {
	background-image: url(./graphics/picker-left-extend.svg), url(./graphics/floor.svg);
	background-blend-mode: normal;
}

.shipping {
	background-color: blue;
}

.receiving {
	background-color: brown;
}

.stock-bin-error {
	background-color: yellow;
}

.stock-bin-up {
	background-color: yellow;
	border-top: var(--stock-bin-edge) dotted black;
	border-right: var(--stock-bin-edge) solid black;
	border-bottom: var(--stock-bin-edge) solid black;
	border-left: var(--stock-bin-edge) solid black;
}

.stock-bin-down {
	background-color: yellow;
	border-top: var(--stock-bin-edge) solid black;
	border-right: var(--stock-bin-edge) solid black;
	border-bottom: var(--stock-bin-edge) dotted black;
	border-left: var(--stock-bin-edge) solid black;
}

.stock-bin-left {
	background-color: yellow;
	border-top: var(--stock-bin-edge) solid black;
	border-right: var(--stock-bin-edge) solid black;
	border-bottom: var(--stock-bin-edge) solid black;
	border-left: var(--stock-bin-edge) dotted black;
}

.stock-bin-right {
	background-color: yellow;
	border-top: var(--stock-bin-edge) solid black;
	border-right: var(--stock-bin-edge) dotted black;
	border-bottom: var(--stock-bin-edge) solid black;
	border-left: var(--stock-bin-edge) solid black;
}

.receiving-bin {
	background-color: red;
	border-top: var(--stock-bin-edge) solid black;
	border-right: var(--stock-bin-edge) solid black;
	border-bottom: var(--stock-bin-edge) dotted black;
	border-left: var(--stock-bin-edge) solid black;
}

.shipping-bin {
	background-color: green;
	border-top: var(--stock-bin-edge) dotted black;
	border-right: var(--stock-bin-edge) solid black;
	border-bottom: var(--stock-bin-edge) solid black;
	border-left: var(--stock-bin-edge) solid black;
}

#warehouse-div {
	width: calc(10*var(--tile));
	height: calc(10*var(--tile));
	display: grid;
	grid-template-rows: repeat(10, var(--tile));
	grid-template-columns: repeat(10, var(--tile));
}

#order-layout {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
	min-height: var(--tile);
	color: white;
	background-color: var(--color-orders);
	border: 1px solid var(--color-borders);
}

#order {
	background-color: var(--color-orders);
	text-align: center;
}

#table-container {
	overflow-y: auto;
}

#bin-table {
	border-collapse: collapse;	
}

tr:nth-child(odd) {
	background-color: var(--color-table-odd);
}

tr:nth-child(even) {
	background-color: var(--color-table-even);
}

th {
	width: calc(5*var(--tile));
	height: var(--tile);
	background-color: var(--color-table-head);
	color: white;
	border: 1px solid var(--color-borders);
	font-size: var(--font-sizing);
}

td {
	width: calc(5*var(--tile));
	height: var(--tile);
	border: 1px solid var(--color-borders);
	color: white;
	font-size: var(--font-sizing);
	padding-left: calc(var(--tile)/4);
}

#info-div {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

button {
	min-height: var(--tile);
	border: none;
	color: white;
	background-color: var(--color-button);
	border: 1px solid var(--color-borders);
	padding-left: var(--tile);
	padding-right: var(--tile);
}

button:hover {
	background-color: var(--color-button-hover);
}

#layout-div {
	display: flex;
	align-items: center;
	min-width: 100vw;
	max-width: 100vw;
	min-height: 100vh;
	max-height: 100vh;
	background-color: var(--color-back);
}

h1 {
	font-size: calc(2*var(--font-sizing));
	font-weight: bold;
}

h2 {
	font-weight: bold;
}

h1, h2, p, a, i {
	background-color: var(--color-back);
}

#hidden-content {
	display: block;
	background-color: var(--color-back);
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	visibility: hidden;
}

#inner-content {
	display: block;
	background-color: var(--color-back);
	margin: var(--tile) var(--tile);
	width: calc(100vw - 2*var(--tile));
	height: calc(100vh - 2*var(--tile));
}

@media only screen and (orientation: portrait) {
	h1 {
		font-size: calc(1.5*var(--font-sizing));
		font-weight: bold;
	}

	#layout-div {
		flex-direction: column;
		justify-content: center;
		padding: var(--half-tile);
	}

	#order-layout {
		margin-bottom: var(--half-tile);
	}

	#about {
		margin-top: var(--half-tile);
	}

	#info-div {
		margin-top: var(--half-tile);
		margin-left: 0;
		max-width: calc(10*var(--tile));
		max-height: calc(7*var(--tile));
	}
}

@media only screen and (orientation: landscape) {
	h1 {
		font-size: calc(2*var(--font-sizing));
		font-weight: bold;
	}

	#layout-div {
		flex-direction: row;
		justify-content: space-around;
		padding: var(--tile);
	}

	#order-layout {
		margin-bottom: var(--tile);
	}

	#about {
		margin-top: var(--tile);
	}

	#info-div {
		margin-top: 0;
		margin-left: var(--tile);
		max-width: calc(10*var(--tile));
		max-height: calc(10*var(--tile));
	}
}
